<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>bird.io</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <script src="pixi.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>